{% extends 'layout.html' %}
{% load crispy_forms_tags %}  <!-- Crispi formun çalışması için -->

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3 bg-light">
        <h3>Giriş Yapın</h3>
        <hr>
        
        <form class="form-group" method="POST">
            <div>
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-outline-primary">Giriş Yap</button>
            </div>
        
        </form>
    </div>
</div>




{% endblock %}